@font-face {
  font-family: "Port Lligat Sans";
  src: url("fonts/PortLligatSans-Regular.ttf") format("truetype");
  font-style: auto;
  font-weight: auto;
}
body {
  margin: 0;
  font-family: 'Port Lligat Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


